.container{
    /* height: calc(100vh - 60px);
    width: 100%; */
    /* margin: 7rem 0; */
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.wrapper{
    margin: 0 auto;
    height: 100%;
    width: 85%;
    display: flex;
    gap: 2rem;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.left{
    width: 650px;
    display: flex;
    flex-direction: column;
}

.product{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.8);
    -webkit-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.8);
    -moz-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.8);

    padding: 10px 5px;
}

.closeBtn{
    position: absolute;
    font-size: 17px;
    cursor: pointer;
    border: 2px solid red;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.35rem 0.4rem;
    color: red;
    top: 0.25;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 20px;
    text-transform: capitalize;
}

.productData{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product > .img{
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.price > span{
    color: rgb(13, 217, 253);
    font-size: 18px;
}

.quantity{
    font-size: 18px;
}

.right{
    width: 350px;
    /* border: 1px solid red; */
    padding: 1rem;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(237, 232, 232);
    border-radius: 5px;
}

.totalProductMsg{
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 500;
}

.subtotalCheckoutBtns{
    display: flex;
    margin-top: 2.5rem;
}

.subtotal{
    font-size: 18px;
    margin-top: 0.5rem;
    margin-right: 2.5rem;
}

.orderNowBtn{
    padding: 0.3rem 0.7rem;
    color: #fff;
    background-color: rgb(13, 217, 253);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.orderNowBtn:hover{
    border-color: rgb(13, 217, 253);
    color: rgb(13, 217, 253);
    background-color: #fff;
}

.orderNowBtn:disabled{
    background-color: #999;
    color: #fff;
}

.noProducts{
    text-align: center;
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 40px;
    color: #333;
}

@media screen and (max-width: 850px) {
    .wrapper{
        width: 95%;
        gap: 1rem;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .left{
        width: 600px;
        display: flex;
        flex-direction: column;
    }

    .closeBtn{
        top: 4rem;
        right: 0;
    }

    
}

@media screen and (max-width: 500px) {
    .wrapper{
        width: 99%;
        gap: 1rem;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .left{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .closeBtn{
        top: 4.5rem;
        right: 10px;
    }

    .product{
        padding: 10px 2.5px;
    }
}
