.container {
    min-height: calc(120vh - 60px);
    width: 100%;
    margin-top: 3.5rem;
    margin-bottom: -5.5rem;
    /* height: 50vh; */
    /* border: 1px solid blue; */
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 6%;
}



.buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 12px;
}

.buttons>button {
    outline: none;
    border: 1px solid transparent;
    padding: 0.5rem 1.25rem;
    color: #fff;
    background-color: rgb(13, 217, 253);
    border-radius: 3px;
    font-size: 18px;
    transition: 150ms all;
    cursor: pointer;
}

.buttons>button:hover {
    border-color: rgb(13, 217, 253);
    background-color: #fff;
    color: rgb(2, 195, 230);
}

.buttonSee>a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}


/* left */
.left {
    /* border: 1px solid red; */
    width: 46%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.first {
    font-size: 40px;
    font-weight: bolder;
}

.first>span {
    color: rgb(13, 217, 253);
    font-style: italic;

}


.second {
    font-size: 20px;
}

.second>span {
    font-size: 22px;
    color: rgb(13, 217, 253);

}

/* right */
.right {
    /* border: 1px solid red; */
    width: 46%;


}


.manEatingImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media screen and (max-width: 850px) {
    .wrapper {
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .left {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: 15px 0;
    }

    .right {
        padding-bottom: 10px;
        width: 88%;
        margin: 0 auto;
    }
    .manEatingImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    

    .buttons>button {
        padding: 0.3rem 0.7rem;
        font-size: 18px;
    }
    
}