
.nav_container{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #d3c5c5;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99; 
    position: relative;
}

.nav_wrapper{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_scrolled{
    box-shadow: -5px 5px 19px -5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: -5px 5px 19px -5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: -5px 5px 19px -5px rgba(0, 0, 0, 0.08);
}

.nav_title{
    text-decoration: none;
    color: #0dd9fd;
    font-weight: bold;
    font-size: 22px;
}

/* center */
.nav_center{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.nav_list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav_listItem{
    font-size: 18px;
    color: #444;
    font-weight: 500;
    /* text-transform: uppercase; */
    cursor: pointer;
    transition: 150ms all;
}

.nav_listItem:hover{
    color: #888;
}

.nav_listItem > a{
    text-decoration: none;
    color: inherit;
}

/* right */
.nav_right{
    /* flex: 1; */
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.nav_cartContainer{
    display: flex;
    position: relative;
    text-decoration: none;
    color: inherit;
}

.nav_userIcon,
.nav_cartIcon{
    font-size: 24px;
    cursor: pointer;
}

.nav_cartQuantity{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(13, 217, 253);
    color: #fff;
    bottom: 0.75rem;
    left: 0.75rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
}

.nav_logout{
    outline: none;
    border: 1px solid rgb(13, 217, 253);
    border-radius: 3px;
    padding: 2.5px 10px;
    background-color: transparent;
    font-size: 16px;
    margin-left: 1rem;
    cursor: pointer;
    
}

.nav_four {
    display: none;
    border: 1px solid red;
}


@media screen and (max-width: 850px) {
    .nav_four {
        display: block;
        border: 1px solid red;
    }

    .nav_list{
        display: none;
        align-items: center;
        list-style: none;
        gap: 30px;
    }

    .nav_show{
        display: flex;
    }
    
    /* .center{
        flex-direction: column;
        width: 50%;
        height: 100vh;
        align-self: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(13, 217, 253);
        color: black;

    } */

    /* .center.active {
        display: none;

    } */
/* 
    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    } */

    .nav_listItem{
        font-size: 22px;
        color: #444;
        font-weight: 600;
    }
    
}

